p{
    font-family: Roboto serif;
    margin-top: 0px;
    margin-bottom: 0px;
}
.video-title{
    font-size: 18px;
    font-weight: bold;
    width: 280px;
    line-height: 25px;
    margin-bottom: 5px;
}
.video-stats{
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
}
.video-author{
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
}
.video-description{
    font-size: 14px;
    color: rgb(96, 96, 96);
    line-height: 22px;
    width: 280px;
    margin-bottom: 150px;
}
.amazon-text{
    background-color: red;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
    position: relative;
}
.amazon-link{
    color: white;
    text-align: center;
}
.amazon-link:hover{
    text-decoration: underline;
    cursor: pointer;
}