.header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: rgb(207, 204, 204);
    border-bottom-width: 1px;
    z-index: 100;
}
.left-section{
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 28px;
    margin-left: 25px;
    margin-right: 25px;
}
.youtube-icon{
    height: 25px;
}
.middle-section{
    flex: 1;
    margin-left: 140px;
    margin-right: 70px;
    max-width: 700px;
    display: flex;
    align-items: center;
}
.search-bar{
    flex: 1;
    height: 40px;
    padding-left: 14px;
    font-size: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(191, 191, 191);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}
.search-bar::placeholder{
    font-family: Roboto serif, Arial;
    font-size: 20px;
}
.search-button{
    height: 45px;
    width: 65px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(191, 191, 191);
    margin-left: -1px;
}
.search-icon{
    height: 25px;
    margin-top: 6px;
}
.mic-button{
    margin-left: 15px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: none;
    background-color: rgb(245, 245, 245);
}
.mic-icon{
    margin-top: 6px;
}
.right-section{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
    flex-shrink: 0;
}
.upload-icon{
    height: 30px;
}
.youtube-apps-icon{
    height: 30px;
}
.notifications-icon{
    height: 30px;
}
.notifications-icon-container{
    position: relative;
}
.notifications-count{
    position: absolute;
    background-color: rgb(212, 7, 7);
    color: white;
    font-size: 12px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    top: -3px;
    right: -6px;
    border-radius: 50%;
}
.current-user-picture{
    height: 35px;
    border-radius: 50%;
}