.sidebar{
    position: fixed;
    background-color: white;
    width: 100px;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 200;
}
.sidebar-link{
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}
.sidebar-link img{
    height: 30px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-size: 12px;
}